.App {
  background-color: #282c34;
  text-align: center;
  width: 780px;
  height: 560px;
  overflow: auto;
}

button {
  font-size: calc(10px + 2vmin);
}

/*  css to refactor  */

.ul {
  display: flex;
  flex-direction: column;
}

.li {
  display: flex;
}

.contianer-img {
  width: 140px;
  height: 65px;
  position: relative;
}

.contianer-img img {
  max-width: 100%;
  object-fit: contain;
  width: 100%;
}

.container__play {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  place-items: center;
}

.li h3 {
  font-size: 1.4rem;
  color: aliceblue;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cont {
  max-width: 1400px;
  width: 90vw;
  height: 100%;
  position: relative;
}

.hola {
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  width: 100%;
}

.hola iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
